@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;1,200;1,300&family=Quicksand:wght@500;600;700&family=Roboto:ital,wght@0,300;1,100;1,300&display=swap');


a {
  color: #000000;
  text-decoration: none;
}



* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Quicksand', sans-serif;
  font-size: 17px;
}



::-webkit-scrollbar {
  width: 0px;
}